<div class="container">
  <header class="flex-row">
    <h1>TODO</h1>
    <div class="theme">
      <input type="checkbox" name="theme" id="theme">
      <label for="theme"></label>
    </div>
  </header>

  <main>

    <div class="addNewItem">
      <input type="text" placeholder="Create a new todo..." name="addItem" id="addItem" (keyup)="addItemTask($event)">
    </div>

    <section>
      <ul>
        <li class="flex-row" *ngFor="let task of TaskList">
          <label>
            <input type="checkbox" name="todoItem">
            <span class="checkmark"></span>
            <span>{{ task }}</span>
          </label>
          <span class="remove-item"></span>
        </li>
        <!-- <li>
          <label>
            <input type="checkbox" name="todoItem">
            <span class="checkmark"></span>
            <span>Damasceno</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="todoItem">
            <span class="checkmark"></span>
            <span>da</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="todoItem">
            <span class="checkmark"></span>
            <span>Tiago</span>
          </label>
        </li> -->
      </ul>
    </section>
    <div class="filter-box flex-row">
      <div class="items-left"><span>3 items left</span></div>
      <div class="filter-desktop">
        <label>
          <input type="radio" name="radio-box" checked>
          <span>All</span>
        </label>
        <label>
          <input type="radio" name="radio-box">
          <span>Active</span>
        </label>
        <label>
          <input type="radio" name="radio-box">
          <span>Completed</span>
        </label>
      </div>
      <div class="clear-completed">
        <span>Clear Completed</span>
      </div>
    </div>
    <div class="filter-mobile flex-row">
      <label>
        <input type="radio" name="radio" checked>
        <span>All</span>
      </label>
      <label>
        <input type="radio" name="radio">
        <span>Active</span>
      </label>
      <label>
        <input type="radio" name="radio">
        <span>Completed</span>
      </label>
    </div>
  </main>
</div>
