.body-bg{
  height: 100vh;
  background-image: url('../../assets/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.container-main{
  width: 750px;
  margin: 0 auto;
}

.title{
  letter-spacing: 20px;
}

.click {
  cursor: pointer;
}

.mostrar{
  display: block;
}

.esconder{
  display: none;
}

.checkbox{
  width: 28px;
  height: 28px;
  border: 1px solid red;
  border-radius: 50%;
}

.checked{
  width: 28px;
  height: 28px;
  background-color: green;
  border-radius: 50%;
}

button{
  background: none;
  border: none;
}

input{
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

ul{
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 3px 3px 0 0;
}

li{
  list-style: none;
  padding: 20px;
  border-top: 1px solid #e6e5ea;
}

p{
  display: inline-block;
}
