<div class="container">
  <header class="flex-row">
    <h1>TODO</h1>
    <div class="theme">
      <input type="checkbox" name="theme" id="theme">
      <label for="theme"></label>
    </div>
  </header>

  <main>

    <div class="addNewItem">
      <input type="text" placeholder="Create a new todo..." name="addItem" (keyup.enter)="addTodo($event)">
    </div>

    <section>
      <ul>
        <li class="flex-row" *ngFor="let task of obterTask()">
          <label>
            <input type="checkbox" name="todoItem" (change)="todoCompleted(task)" [checked]="task.concluido">
            <span class="checkmark"></span>
            <span>{{ task.task }}</span>
          </label>
          <span class="remove-item" (click)="removeTask(task)"></span>
        </li>
      </ul>
    </section>
    <div class="filter-box flex-row" *ngIf="TaskList.length > 0">
      <div class="items-left"><span> {{ itemsLeft }} items left</span></div>
      <div class="filter-desktop">
        <label (click)="mudarStats($event)">
          <input type="radio" name="radio-box" id="all" checked>
          <span>All</span>
        </label>
        <label (click)="mudarStats($event)">
          <input type="radio" name="radio-box" id="active">
          <span>Active</span>
        </label>
        <label (click)="mudarStats($event)">
          <input type="radio" name="radio-box" id="completed">
          <span>Completed</span>
        </label>
      </div>
      <div class="clear-completed" (click)="clearCompleted()">
        <span id="clear">Clear Completed</span>
      </div>
    </div>
    <div class="filter-mobile flex-row">
      <label (click)="mudarStats($event)">
        <input type="radio" name="radio" checked id="all-mobile">
        <span>All</span>
      </label>
      <label (click)="mudarStats($event)">
        <input type="radio" name="radio" id="active-mobile">
        <span>Active</span>
      </label>
      <label (click)="mudarStats($event)">
        <input type="radio" name="radio" id="completed-mobile">
        <span>Completed</span>
      </label>
    </div>
  </main>
</div>
